.App {
  justify-content: center;
 
}

#cartValue{
  margin-bottom: 3px;
  
}


#wrapper {
  justify-content: center;
  text-align: left;
  margin-top: 10%;
  margin-left: 35%;
  border: 1px solid aliceblue;
  border-radius: 50px;
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: rgb(0, 194, 232);
}

#output{
  justify-content: center;
  text-align: center;
  margin-top: 4px;
  width: 27%;
  margin-left: 36.5%;
}
#head {
  text-align: center;
  font-size: large;
}

#warningMessage{
  justify-content: center;
  text-align: center;
  margin-top: 4px;
  width: 27%;
  margin-left: 36.5%;

}
